[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
benker = {editable = true, path = "."}

[dev-packages]
sphinx = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
py = "*"
isort = "*"
check-manifest = "*"

[requires]
python_version = "3.7"
